<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{::vm.title}} <small>a-z</small></h1>
            <div class="input-group">
                <div class="label label-primary">search</div><br />
                <input class="input-lg" ng-model="store.search" placeholder="search for a store" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3 col-xs-6" ng-repeat="store in vm.stores | orderBy: 'Name' | storeSearch : store.search">
            <img class="img-responsive img-thumbnail portfolio-item" src="assets/img/image{{store.StoreId}}.jpg" />
            <h4><a href="#storeDetails/{{store.StoreId}}">{{store.Name}}</a></h4>
        </div>
    </div>
</div>
