<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Store Listing <small>a-z</small></h1>
            <div class="input-group">
                <div class="label label-primary">search</div><br />
                <input class="input-lg" ng-model="store.search" placeholder="search for a store" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive img-thumbnail portfolio-item" src="assets/img/image1.jpg" />
            <h4>Store name</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive img-thumbnail portfolio-item" src="assets/img/image2.jpg" />
            <h4>Store name</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive img-thumbnail portfolio-item" src="assets/img/image3.jpg" />
            <h4>Store name</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive img-thumbnail portfolio-item" src="assets/img/image4.jpg" />
            <h4>Store name</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive img-thumbnail portfolio-item" src="assets/img/image5.jpg" />
            <h4>Store name</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive img-thumbnail portfolio-item" src="assets/img/image6.jpg" />
            <h4>Store name</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive img-thumbnail portfolio-item" src="assets/img/image7.jpg" />
            <h4>Store name</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive img-thumbnail portfolio-item" src="assets/img/image8.jpg" />
            <h4>Store name</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive img-thumbnail portfolio-item" src="assets/img/image9.jpg" />
            <h4>Store name</h4>
        </div>
        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive img-thumbnail portfolio-item" src="assets/img/image10.jpg" />
            <h4>Store name</h4>
        </div>
    </div>
</div>
